.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.heading {
  margin-bottom: 15px;
  font-size: 24px;
  color: rgb(29, 2, 25);
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgb(29, 2, 25);
}

.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.labels {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.square {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.openSquare {
  composes: square;
  background-color: rgb(0, 198, 185);
}

.openSoonSquare {
  composes: square;
  background-color: rgb(132, 112, 160);
}

.closedSquare {
  composes: square;
  background-color: rgb(68, 1, 40);
}

.labelName {
  font-size: 10px;
  color: rgb(91, 91, 91);
}

.lastUpdated {
  margin-top: 10px;
  font-size: 10px;
  color: rgb(171, 171, 171);
  text-align: right;
}
