.isOpenIcon svg {
  fill: rgb(0, 198, 185);
}

.isOpenSoonIcon svg {
  fill: rgb(132, 112, 160);
}

.isClosedIcon svg {
  fill: rgb(68, 1, 40);
}

.resortName {
  font-size: 12px;
  font-weight: 500;
}

.loadingMap {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: rgb(59, 59, 59);
}
